body {
  background-color: rgb(28, 30, 33);
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-left: 10rem;
  margin-right: 10rem;
}
body .header .logo {
  height: 120px;
  width: 120px;
  background-color: #008080;
  border-radius: 50%;
  border: solid 4px #242526;
}
body .header .change-photo {
  display: flex;
  position: absolute;
  justify-content: center;
  height: 35px;
  width: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 94px;
  left: 250px;
}
body .header .change-photo i {
  justify-self: center;
  align-self: center;
}
body .header .name {
  color: white;
  position: relative;
  left: 6em;
  bottom: 1.5em;
  font-size: x-large;
  font-weight: bold;
}
body .nav {
  padding: 0em;
  margin: 0em;
  background-color: #242526;
  border-radius: 10px;
}
body .nav .menu {
  display: flex;
  justify-content: space-between;
}
body .nav .menu .menu-list {
  display: flex;
  gap: 1em;
  padding-left: 0.4em;
}
body .nav .menu .menu-list .menu-item {
  list-style-type: none;
}
body .nav .menu .menu-list .menu-item a {
  color: #87898d;
  text-decoration: none;
  padding: 0.5em;
}
body .nav .menu .buttons {
  display: flex;
  height: 60%;
  gap: 0.5em;
  align-self: center;
  margin-right: 1em;
}
body .nav .menu .buttons .btn {
  background-color: rgba(135, 123, 123, 0.1);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5em;
  cursor: pointer;
}
body .nav .menu .buttons .btn .fas {
  width: 2em;
  cursor: pointer;
}
body .container {
  display: flex;
  color: white;
}
body .container .left {
  padding-right: 1em;
}
body .container .left .box {
  background-color: #242526;
  border-radius: 10px;
  width: 26em;
  margin-top: 1em;
}
body .container .left .box h2 {
  padding-left: 1.3em;
  margin: 0em;
  padding-top: 1em;
}
body .container .left .box .photos .photo:nth-of-type(1) {
  background-color: #add8e6;
}
body .container .left .box .photos .photo:nth-of-type(2) {
  background-color: #f08080;
}
body .container .left .box .photos .photo:nth-of-type(3) {
  background-color: #b0c4de;
}
body .container .left .box .photos .photo:nth-of-type(4) {
  background-color: #90ee90;
}
body .container .left .box .photos .photo:nth-of-type(5) {
  background-color: #ffa07a;
}
body .container .left .box .photos .photo:nth-of-type(6) {
  background-color: #778899;
}
body .container .left .box .photos .photo:nth-of-type(7) {
  background-color: #d3d3d3;
}
body .container .left .box .photos .photo:nth-of-type(8) {
  background-color: #ffb6c1;
}
body .container .left .box .photos .photo:nth-of-type(9) {
  background-color: #20b2aa;
}
body .container .left .box .photo:hover {
  opacity: 0.5;
  display: inline;
  cursor: pointer;
}
body .container .left .box .content {
  display: none;
  font-size: 1.5em;
}
body .container .left .box .footer > ul > li {
  font-size: 2em;
}
body .container .left > .box > .photos > .photo {
  display: flex;
  border-radius: 5px;
  padding: 3em;
  width: 1em;
  height: 1.5em;
}
body .container .left > .box > .photos {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 24em;
  padding: 1em;
  justify-content: center;
}
body .container .photo:hover > .content {
  display: inline-block;
  position: absolute;
}
body .container ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  display: flex;
  color: #87898d;
  padding-left: 0;
}
body .container ul li:nth-of-type(1) {
  border-right: 1px solid #87898d;
  padding-right: 1em;
}
body .container ul li:nth-of-type(2) {
  padding-left: 1em;
}
body .right .box:nth-of-type(1) {
  background-color: #242526;
  border-radius: 10px;
}
body .right .box:nth-of-type(1) p {
  padding: 1em;
  color: lightgray;
}
body .right .box:nth-of-type(1) h3 {
  padding: 1em;
}
body .right .box:nth-of-type(1) .photos {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}
body .right .box:nth-of-type(1) .photos .photo {
  background-color: #b0b3b8;
  height: 10em;
  width: calc(33.3% - 1px);
}
body .right .box:nth-of-type(1) .photos .photo:nth-of-type(4) {
  width: calc(50% - 1px);
}
body .right .box:nth-of-type(1) .photos .photo:nth-of-type(5) {
  width: calc(50% - 1px);
}
body .right .box:nth-of-type(2) {
  background-color: #242526;
  border-radius: 10px;
}
body .right .box:nth-of-type(2) p {
  padding: 1em;
  color: lightgray;
}
body .right .box:nth-of-type(2) h3 {
  padding: 1em;
}
body .right .box:nth-of-type(3) {
  background-color: #242526;
  border-radius: 10px;
}
body .right .box:nth-of-type(3) p {
  padding: 1em;
  color: lightgray;
}
body .right .box:nth-of-type(3) h3 {
  padding: 1em;
}
body .right .box:nth-of-type(3) .photos {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}
body .right .box:nth-of-type(3) .photos .photo {
  background-color: #b0b3b8;
  height: 10em;
  width: calc(33.3% - 1px);
}
body .right .box:nth-of-type(3) .photos .photo:nth-of-type(4) {
  width: 100%;
}
body .right .box:nth-of-type(4) {
  background-color: #242526;
  border-radius: 10px;
}
body .right .box:nth-of-type(4) p {
  padding: 1em;
  color: lightgray;
}
body .right .box:nth-of-type(4) .photos {
  display: flex;
  flex-wrap: wrap;
}
body .right .box:nth-of-type(4) .photos .photo {
  background-color: #b0b3b8;
  height: 10em;
  width: 100%;
}
body .right .box:nth-of-type(5) {
  background-color: #242526;
  border-radius: 10px;
  padding-bottom: 1em;
}
body .right .box:nth-of-type(5) p {
  padding: 1em;
  color: lightgray;
}
body .right .box:nth-of-type(5) h3 {
  padding: 1em;
}
body .right .box:nth-of-type(5) .photos {
  display: flex;
  flex-wrap: wrap;
}
body .right .box:nth-of-type(5) .photos .photo {
  background-color: #b0b3b8;
  height: 10em;
  width: 100%;
}
body .right .box:nth-of-type(5) a {
  text-decoration: none;
  padding: 1em;
  color: white;
  font-weight: bold;
}
body .right .box:nth-of-type(6) {
  background-color: #242526;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}
body .right .box:nth-of-type(6) p {
  justify-self: center;
  align-self: center;
}/*# sourceMappingURL=zad_01.css.map */