@import '_variables(2).scss';
body {
  font-family: BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica,
    Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  margin-top:1em;
  // color: $primary-text-color;
  header {
    display: flex;
    justify-content: space-around;
    .logo {
      text-transform: uppercase;
      font-weight: bolder;
      font-size: 20px;
    }
    #search {
      border-radius: 20px;
      border:0;
      border: 1px solid lightgray;
      padding-left:1.5em;
      width:60em;
      height: 2em;
      font-size: 12px;
    }
    button {
      border:0;
      background-color: white;
      color:gray;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
    }
    .separator {
      border-right: 1px solid lightgray;
    }
    #submit {
      border: 1px solid lightgray;
    }
    .fa-bars {
      font-size: 20px;
      align-self: center;
    }
  }
  nav {
    display: flex;
    gap:0.7em;
    padding-top:1em;
    margin-left: 1em;
    button {
      border:0;
      background-color: white;
      color:gray;
      font-weight: bold;
      font-size: 12px;
      cursor: pointer;
    }
    .active {
      color:black;
    }
    .separator {
      border-left:1px solid lightgray;
    }
  }
  #search-section {
    background-color: #07022d;
    margin-top: 1em;
    color:white;
    .content {
      padding-left: 22em;
      padding-right: 22em;
      padding-top:8em;
      padding-bottom: 9em;
      .header {
        font-size: 40px;
        font-weight: bolder;
        padding-bottom:0.5em;
      }
      div:nth-of-type(2) {
        width:22em;
        font-size: 16px;
        padding-bottom:1em;
      }
      .search {
        display: flex;
        height: 3em;
        background-color: white;
        border-radius: 10px;
        button {
          border:0;
          background-color: white;
          align-self: center;
          height: 3.6em;
          padding-left:1em;
          padding-right: 1em;
          .fa-search {
            align-self: center;
            color:gray;
          }
        }
        #search {
          border:0;
          font-size: 15px;
        }
      }
      .trending {
        padding-top: 1em;
        font-size: 13px;
        color: lightgray;
        span {
          color:white;
        }
      }
    }
  }
  .main {
    display: flex;
    gap:1em;
    justify-content: center;
    margin-top: 1em;
    .first-column {
      gap:1em;
      justify-content: center;
      width:25%;
      .pic {
      background-color: #f5f5f5;
      margin-bottom: 1em;
      }
      .pic:hover {
        background-color: rgb(0, 0, 0, 0.2);
        cursor: pointer;
      }
    }
    .second-column {
      gap:1em;
      justify-content: center;
      width:25%;
      .pic {
        background-color: #f5f5f5;
        margin-bottom: 1em;
        }
        .pic:hover {
          background-color: rgb(0, 0, 0, 0.2);
          cursor: pointer;
        }
    }
    .third-column {
      gap:1em;
      justify-content: center;
      padding-bottom:10em;
      width:25%;
      .pic {
        background-color: #f5f5f5;
        margin-bottom: 1em;
        }
        .pic:hover {
          background-color: rgb(0, 0, 0, 0.2);
          cursor: pointer;
        }
    }
    .pic {
      .pic-info {
        display: flex;
        flex-direction: column;
        height: 100%;
        .top {
          display: flex;
          justify-content: flex-end;
          gap:0.5em;
          padding: 1em;
          .fas {
            padding: 0.5em;
          }
        }
        .bottom {
          display: flex;
          // align-self: flex-end;
          align-items: flex-end;
          height: 80%;
          padding: 1em;
          justify-content: space-between;
          .person {
            display: flex;
            gap:1em;
            .logo {
              background-color: white;
              height: 2em;
              width: 2em;
              border-radius: 50%;
            }
            .name {
              align-self: center;
            }
          }
          .fas {
            padding: 0.5em;
          }
        }
      }
    }
    
  }
  footer {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: center;
    height: 10em;
    width: 71vw;
    margin-left: 14%;
    justify-content: space-between;
    div {
      padding-top:2em;
      display: flex;
      gap:2em;
      a {
        text-decoration: none;
        color:gray;
      }
    }
  }
}
